version: "3"
services:
  influxdb:
    container_name: influxdb
    image: influxdb
    ports:
      - "8086:8086"
    volumes:
      - "${DATA_DIR}/data/influxdb:/var/lib/influxdb"
      - "${CONF_DIR}/influxdb:/etc/influxdb/"
    restart: always

  telegraf:
    container_name: telegraf
    image: telegraf
    network_mode: "host"
    depends_on: 
      - influxdb
    volumes:
      - "${CONF_DIR}/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf"
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    
  grafana:
    container_name: grafana
    image: grafana/grafana
    user: "0"
    ports:
      - "3000:3000"
    volumes:
      - "${DATA_DIR}/grafana:/var/lib/grafana"
      - "${DATA_DIR}/log/grafana:/var/log/grafana"
      - "${CONF_DIR}/grafana/grafana.ini:/etc/grafana/grafana.ini"
    links:
      - influxdb
    restart: always

  mqtt:
    container_name: mqtt
    image: eclipse-mosquitto:latest
    user: "0"
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - "${CONF_DIR}/mqtt/:/mosquitto/config/"
      - "${DATA_DIR}/mqtt/:/mosquitto/data/"
      - "${DATA_DIR}/mqtt/:/mosquitto/log/"
    restart: always
